/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Layout
  ## Header

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.app-footer {
  padding: 3rem; }
  .app-footer__credit {
    text-align: unset; }
  .app-footer .site-info p {
    font-family: var(--font-family-secondary);
    font-size: 16px;
    margin-bottom: 0; }
  .app-footer .menu__items {
    text-align: unset; }
  .app-footer .menu li:first-of-type .menu__link {
    margin-left: 0%; }
  .app-footer .menu li:last-of-type .menu__link {
    margin-right: 0%; }
  @media (min-width: 960px) {
    .app-footer .menu, .app-footer .site-info {
      width: 50%;
      display: inline-block; }
    .app-footer .menu {
      float: right; }
      .app-footer .menu__items {
        text-align: right; } }

.app-header__title, .app-header__description {
  background: var(--color-header-background);
  border: 0; }

.logoright .app-header__branding {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
          order: 2;
  margin-left: auto;
  -webkit-box-flex: unset;
  -webkit-flex-grow: unset;
          flex-grow: unset; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
